@using Sitecore.Feature.D3Identity
@model Sitecore.Mvc.Presentation.RenderingModel

<script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://www.dubaidesigndistrict.com",
  "logo": "http://www.dubaidesigndistrict.comimages/logo.png"
  }
</script>
@{
  //TODO: Resolve context site from item (implement in Foundation.Multisite)
  var homeUrl = Sitecore.Context.Site?.GetStartItem()?.Url() ?? "/";
  var hasTagline = identity.FieldHasValue(Templates.Identity.Fields.LogoTagLine);
}

<a class="logo @(hasTagline ? "has-tagline" : "")" href="@homeUrl">
  <span class="logo">
    @Html.Sitecore().ImageField(Templates.Identity.Fields.Logo, identity, mh: 74, mw: 130)
    @if (hasTagline)
    {
      <small class="tagline">@Html.Sitecore().Field(Templates.Identity.Fields.LogoTagLine, identity)</small>
    }
  </span>
</a>
 