@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@inherits WebViewPage
@{
  Layout = null;
}
<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Welcome to the Dubai Design District. Home to designers, artists and creative thinkers.">
  <meta property="og:title" content="Dubai Design District | Homepage">
  <meta property="og:image" content="images/og-image.jpg">
  <meta property="og:image:height" content="1257">
  <meta property="og:image:width" content="2400">
  <meta property="og:description" content="Welcome to the Dubai Design District. Home to designers, artists and creative thinkers.">

  <meta name="format-detection" content="telephone=no">

  @if (!Sitecore.Context.PageMode.IsExperienceEditor)
  {
    @Html.Sitecore().Placeholder("head")
  }
  <!-- Latest compiled and minified JavaScript -->
  @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)
  @RenderAssetsService.Current.RenderStyles()
  @Html.Sitecore().VisitorIdentification()
</head>
<body class="header-static @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
  <div id="main-container">
    <header class="header-static">
      <div class="container">
        <div class="row">
          @Html.Sitecore().Placeholder("header-top")

          @Html.Sitecore().Placeholder("navbar")
        </div>
      </div>
    </header>
    <main>
      <h1 class="visually-hidden">Dubai Design District</h1>
      <div class="container">
        @Html.Sitecore().Placeholder("page-layout")
      </div>
    </main>
    <footer class="bg-dark">
      <div class="subfooter">
        <div class="container">
          <div class="row">
            @Html.Sitecore().Placeholder("footer")
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>