@using Sitecore.Feature.Navigation
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel



<ul class="menu-nav">

  @foreach (Sitecore.Data.Items.Item item in Model.Item.Children)
  {
    <li class="menu-navItem@(item.TemplateID.ToString()=="{627BEACC-8636-45AD-A0AC-FD0C544B08B7}"? " menu-navItem-isEmpty": string.Empty)">
      @if (item.TemplateID.ToString() == "{627BEACC-8636-45AD-A0AC-FD0C544B08B7}")
      {
        <a href="@item.LinkFieldUrl(Templates.Link.Fields.Link)" class="menu-navItemLabel">
          @Html.Sitecore().Field("NavigationTitle", item) <span class="icon icon-arrow-right" aria-hidden="true" role="presentation">
            <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons.svg#icon-arrow-right"></use>
            </svg>
          </span>

        </a>
      }
      else if (item.TemplateID.ToString() == "{8AADF226-FC14-4F1F-9542-62B826A398A3}")
      {
        <a href="javascript: void(0);" class="menu-navItemLabel">
          @Html.Sitecore().Field("NavigationTitle", item) <span class="icon icon-arrow-right" aria-hidden="true" role="presentation">
            <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons.svg#icon-arrow-right"></use>
            </svg>
          </span>

        </a>
      }
      @if (item.TemplateID.ToString() == "{8AADF226-FC14-4F1F-9542-62B826A398A3}")
      {

        <div class="menu-submenu">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="menu-submenuItems">

                  @foreach (Sitecore.Data.Items.Item Subitem in item.Children)
                  {
                    <div class="@(Subitem.TemplateID.ToString()=="{F28B341F-D0A0-4B20-9765-9F4AF61932DB}"?"menu-submenuItem":"menu-submenuLinkItem") ">

                      <a href="@Subitem.LinkFieldUrl(Templates.Link.Fields.Link)">
                        @if (Subitem.TemplateID.ToString() == "{F28B341F-D0A0-4B20-9765-9F4AF61932DB}")
                        {
                          <div class="menu-submenuItemImage imageContainer">
                            @Html.Sitecore().Field(Templates.LinkImage.Fields.Image, Subitem)
                          </div>
                        }
                        <h2> @Html.Sitecore().Field("NavigationTitle", Subitem)</h2>
                        <p></p>
                      </a>

                      @if (Subitem.TemplateID.ToString() == "{8AADF226-FC14-4F1F-9542-62B826A398A3}")
                      {
                        <ul class="menu-submenuLinkItemSubtitles">
                          @foreach (Sitecore.Data.Items.Item Subsubitem in Subitem.Children)
                          {
                            <li>
                              <a href="@Subsubitem.LinkFieldUrl(Templates.Link.Fields.Link)">@Html.Sitecore().Field("NavigationTitle", Subsubitem)</a>
                            </li>
                          }
                        </ul>
                      }
                    </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      }



    </li>
  }

</ul>

