@using Sitecore.Feature.Outlet
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@using Sitecore.Data.Items;
<ul class="outlets-filterList" data-selected-index="0">
  @foreach (Item item in Model.Item.Children)
  {
    var value = (item.Database.GetItem(((Sitecore.Data.Fields.LinkField)item.Fields["FilterValue"]).Value).Name);
  <li class="@(value == Request.QueryString["type"] ? "outlets-filterListItem active": "outlets-filterListItem")" data-value="@(item.Database.GetItem(((Sitecore.Data.Fields.LinkField)item.Fields["FilterValue"]).Value).Name)">
    @Html.Sitecore().BeginField(Templates.FilterOutlet.Fields.FilterLink.ToString(), item, new { haschildren = true })
    <span>@value</span>
      @Html.Sitecore().EndField()
  </li>
  }
</ul>
