@using Sitecore.Feature.Outlet
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@using Sitecore.Data.Items;
<ul class="outlets-filterList" data-selected-index="0">
  @foreach (Item item in Model.Item.Children)
  {
    <li class="@((item[Templates.FilterOutlet.Fields.FilterValue]) ==Request.QueryString["type"] ? "outlets-filterListItem active": "outlets-filterListItem")" data-value="@Html.Sitecore().Field(Templates.FilterOutlet.Fields.FilterName, item)">
      @Html.Sitecore().BeginField(Templates.FilterOutlet.Fields.FilterLink.ToString(), item, new { haschildren = true })
      <span> @Html.Sitecore().Field(Templates.FilterOutlet.Fields.FilterName, item)</span>
      @Html.Sitecore().EndField()
    </li>
  }
</ul>
